version: '3.8'

services:
  scraper:
    build: .
    volumes:
      - ./config:/app/config
      - ./data:/app/data
      - ./report:/app/report
      - ./logs:/app/logs
      - ./.env:/app/.env
    env_file:
      - .env
    command: python main.py

  dashboard:
    build: .
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    env_file:
      - .env
    command: streamlit run dashboard.py --server.address=0.0.0.0 --server.headless=true
